{% extends "_base.html" %}

{% block content %}

<h1>Tip List</h1>
<a href="/tip_create">新建标签</a>
<br>
<table class="table">
    <thead>
        <tr>
            <th>标签名称</th>
            <th>标签描述</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        {% for tip in tips %}
        <tr>
            <td>{{ tip.tip_name }}</td>
            <td>{{ tip.tip_note }}</td>
            <td><a href="/tip_edit/{{ tip.tip_id }}">编辑</a></td>
            <td><a href="/tip_delete/{{ tip.tip_id }}">删除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<ul class="pagination pagination-ms">
    <li class="active">
            {% if pagination.has_prev %}
                <a href="/tips/{{ pagination.prev_num }}">previous</a>
            {% endif %}
    </li>
    <li class="active">
            <a href="#">Page {{ pagination.page }} of {{ pagination.pages }}.</a>
    </li>
    <li class="active">
            {% if pagination.has_next %}
                <a href="/tips/{{ pagination.next_num }}">next</a>
            {% endif %}
    </li>

</ul>
{% endblock %}