{% extends "_base.html" %}

{% block content %}

<h1>Type Edit</h1>
<br>
<form class="form-group" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
  {{ form.type_name.label }}：
  {{ form.type_name }}
  </p>
  <p>
  {{ form.type_note.label }}：
  {{ form.type_note }}
  </p>
  <p>
  {{ form.parent_type_id.label }}：
  {{ form.parent_type_id }}
  </p>

  <button class="btn btn-success" type="submit">保存</button>
  <a class="btn btn-success" href="/types">取消</a>
  <br><br>
</form>

{% endblock %}